.gradle/
.idea/
.tags*
captures/
reports/
build/
reports/
gradle/
gradlew
gradlew.bat
local.properties
.DS_Store
.externalNativeBuild
*iml
*.patch
iHeima/res/raw/exclude_party_resource.xml
proguard-log.pro
iHeima/assets/config/config.txt
abconfig/
